@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  /* fontFamily */
  --font-lato: "Lato", serif;
  --font-poppins: "Poppins", serif;

  /* colors */
  --color-primary-default: rgba(50, 84, 255, 1);
  --color-primary-100: rgba(36, 63, 219, 1);
  --color-primary-200: rgba(25, 45, 183, 1);
  --color-primary-300: rgba(15, 30, 147, 1);
  --color-primary-400: rgba(9, 20, 122, 1);

  --color-dark-primary: rgba(58, 53, 65, 0.87);
  --color-dark-secondary: rgba(58, 53, 65, 0.68);
  --color-dark-disabled: rgba(58, 53, 65, 0.38);
  --color-light-primary: rgba(231, 227, 252, 0.87);
  --color-light-secondary: rgba(231, 227, 252, 0.68);
  --color-light-disabled: rgba(231, 227, 252, 0.38);

  --color-paperBackground: rgba(34, 40, 42, 1);
  --color-bodyBackground: rgba(47, 51, 52, 1);
  --color-pageHeaderBackground: rgba(24, 26, 28, 1);
  --color-extraBackground: rgba(61, 65, 66, 1);
  --color-outlineBorder: rgba(231, 227, 252, 0.23);
  --color-inputBorder: rgba(231, 227, 252, 0.22);
  --color-inputFieldBg: rgba(231, 227, 252, 0.04);
  --color-chipBg: rgba(231, 227, 252, 0.08);

  --color-info-pressed: rgba(2, 77, 183, 1);
  --color-info-hover: rgba(3, 103, 219, 1);
  --color-info-default: rgba(5, 134, 255, 1);
  --color-info-background: rgba(205, 241, 255, 0.3);

  --color-success-pressed: rgba(96, 161, 37, 1);
  --color-success-hover: rgba(126, 192, 54, 1);
  --color-success-default: rgba(159, 224, 74, 1);
  --color-success-background: rgba(244, 253, 219, 0.8);

  --color-warning-pressed: rgba(183, 162, 7, 1);
  --color-warning-hover: rgba(219, 196, 10, 1);
  --color-warning-default: rgba(255, 231, 15, 1);
  --color-warning-background: rgba(255, 252, 207, 0.8);

  --color-error-pressed: rgba(183, 31, 29, 1);
  --color-error-hover: rgba(219, 58, 42, 1);
  --color-error-default: rgba(255, 91, 58, 1);
  --color-error-background: rgba(255, 234, 215, 0.5);

  --color-grey-900: rgba(33, 33, 33, 1);
  --color-grey-800: rgba(66, 66, 66, 1);
  --color-grey-700: rgba(97, 97, 97, 1);
  --color-grey-600: rgba(117, 117, 117, 1);
  --color-grey-500: rgba(158, 158, 158, 1);
  --color-grey-400: rgba(189, 189, 189, 1);
  --color-grey-300: rgba(224, 224, 224, 1);
  --color-grey-200: rgba(238, 238, 238, 1);
  --color-grey-100: rgba(245, 245, 245, 1);
  --color-grey-50: rgba(250, 250, 250, 1);
}

.slick-slide > div {
  margin: 0 10px;
}
